<!DOCTYPE html>
<html>
<head>
  <title>Official Simple Application Recording - DevOps Deployment</title>
</head>
<body>
  <h1>Official Simple Application- DevOps Deployment</h1>

  <ul>
    <li>Coffee</li>
    <li>Tea/Hot Chocolate</li>
    <li>Milk</li>
    <li>add more...</li>
  </ul>

</body>
</html>