<!DOCTYPE html>
<html>
<head>
  <title>Simple Application - DevOps Deployment</title>
</head>
<body>
  <h1>Simple Application - DevOps Deployment</h1>

  <ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
    <li>add more...</li>
  </ul>

</body>
</html>